<h1>{{title}}</h1>
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="['/dashboard']">Dashboard</a>
        <a class="nav-item nav-link" [routerLink]="['/todolist']">ToDo List</a>
        <a class="nav-item nav-link" [routerLink]="['/documenthost']">Documents</a>
        <a class="nav-item nav-link" [routerLink]="['/students']">Students</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
      </div>
</nav>
<router-outlet></router-outlet>
