<div *ngIf="task">
  <br/>
  <div><span>id: </span>{{task._id}}</div>
  <div>
    <label>description:
      <input [(ngModel)]="task.description" placeholder="name" required maxlength="25"/>
    </label>
    <br/>
    <label>deadline:
      <input [(ngModel)]="task.formattedDeadline" type="date" required placeholder="yyyy-mm-dd"/>
    </label>
    <br/>
    <label>done:
      <input [(ngModel)]="task.done" type="checkbox"/>
    </label>
  </div>
  <span style="color: red;">{{descriptionError}}</span>
  <br/>
  <br/>
  <button (click)="save()">save</button><br/>
  <button (click)="goBack()">go back</button>
</div>
